<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similarity Checker</title>
</head>
<body>
    <h1>Similarity Checker</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="cv" accept=".pdf" required><br><br>
        <input type="file" name="job_offer" accept=".pdf" required><br><br>
        <button type="submit">Upload</button>
    </form>
    {% if similarity_score is defined %}
        <h2>Similarity Score:
             {{ similarity_score }}
        </h2>
    {% endif %}
</body>
</html>
